* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --black: #000;
  --gray-900: #1a1a1a;
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #56ccf2, #2f80ed);
}
