.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
  margin-top: 3rem;

  img {
    width: 100%;
    max-width: 17.1rem;
    height: auto;
  }

  h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--title);
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--title);
    margin-top: 2rem;
    text-align: justify;
  }
}

// responsivity
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 0 1.5rem;
  }
}

@media (max-width: 400px) {
  .main {
    gap: 2.4rem;

    p {
      margin-top: 1rem;
    }
  }
}
